.mana-0 { background-image: url('png/0.png'); background-repeat: no-repeat; }

.mana-1 { background-image: url('png/1.png'); background-repeat: no-repeat; }

.mana-10 { background-image: url('png/10.png'); background-repeat: no-repeat; }

.mana-100 { background-image: url('png/100.png'); background-repeat: no-repeat; }

.mana-1000000 { background-image: url('png/1000000.png'); background-repeat: no-repeat; }

.mana-11 { background-image: url('png/11.png'); background-repeat: no-repeat; }

.mana-12 { background-image: url('png/12.png'); background-repeat: no-repeat; }

.mana-13 { background-image: url('png/13.png'); background-repeat: no-repeat; }

.mana-14 { background-image: url('png/14.png'); background-repeat: no-repeat; }

.mana-15 { background-image: url('png/15.png'); background-repeat: no-repeat; }

.mana-16 { background-image: url('png/16.png'); background-repeat: no-repeat; }

.mana-17 { background-image: url('png/17.png'); background-repeat: no-repeat; }

.mana-18 { background-image: url('png/18.png'); background-repeat: no-repeat; }

.mana-19 { background-image: url('png/19.png'); background-repeat: no-repeat; }

.mana-2 { background-image: url('png/2.png'); background-repeat: no-repeat; }

.mana-20 { background-image: url('png/20.png'); background-repeat: no-repeat; }

.mana-2B { background-image: url('png/2B.png'); background-repeat: no-repeat; }

.mana-2G { background-image: url('png/2G.png'); background-repeat: no-repeat; }

.mana-2R { background-image: url('png/2R.png'); background-repeat: no-repeat; }

.mana-2U { background-image: url('png/2U.png'); background-repeat: no-repeat; }

.mana-2W { background-image: url('png/2W.png'); background-repeat: no-repeat; }

.mana-3 { background-image: url('png/3.png'); background-repeat: no-repeat; }

.mana-4 { background-image: url('png/4.png'); background-repeat: no-repeat; }

.mana-5 { background-image: url('png/5.png'); background-repeat: no-repeat; }

.mana-6 { background-image: url('png/6.png'); background-repeat: no-repeat; }

.mana-7 { background-image: url('png/7.png'); background-repeat: no-repeat; }

.mana-8 { background-image: url('png/8.png'); background-repeat: no-repeat; }

.mana-9 { background-image: url('png/9.png'); background-repeat: no-repeat; }

.mana-B { background-image: url('png/B.png'); background-repeat: no-repeat; }

.mana-BG { background-image: url('png/BG.png'); background-repeat: no-repeat; }

.mana-BP { background-image: url('png/BP.png'); background-repeat: no-repeat; }

.mana-BR { background-image: url('png/BR.png'); background-repeat: no-repeat; }

.mana-C { background-image: url('png/C.png'); background-repeat: no-repeat; }

.mana-CHAOS { background-image: url('png/CHAOS.png'); background-repeat: no-repeat; }

.mana-E { background-image: url('png/E.png'); background-repeat: no-repeat; }

.mana-G { background-image: url('png/G.png'); background-repeat: no-repeat; }

.mana-GP { background-image: url('png/GP.png'); background-repeat: no-repeat; }

.mana-GU { background-image: url('png/GU.png'); background-repeat: no-repeat; }

.mana-GW { background-image: url('png/GW.png'); background-repeat: no-repeat; }

.mana-H { background-image: url('png/H.png'); background-repeat: no-repeat; }

.mana-HR { background-image: url('png/HR.png'); background-repeat: no-repeat; }

.mana-HW { background-image: url('png/HW.png'); background-repeat: no-repeat; }

.mana-INF { background-image: url('png/INF.png'); background-repeat: no-repeat; }

.mana-P { background-image: url('png/P.png'); background-repeat: no-repeat; }

.mana-Q { background-image: url('png/Q.png'); background-repeat: no-repeat; }

.mana-R { background-image: url('png/R.png'); background-repeat: no-repeat; }

.mana-RG { background-image: url('png/RG.png'); background-repeat: no-repeat; }

.mana-RP { background-image: url('png/RP.png'); background-repeat: no-repeat; }

.mana-RW { background-image: url('png/RW.png'); background-repeat: no-repeat; }

.mana-S { background-image: url('png/S.png'); background-repeat: no-repeat; }

.mana-Slash { background-image: url('png/Slash.png'); background-repeat: no-repeat; }

.mana-T { background-image: url('png/T.png'); background-repeat: no-repeat; }

.mana-Tv2 { background-image: url('png/Tv2.png'); background-repeat: no-repeat; }

.mana-Tv3 { background-image: url('png/Tv3.png'); background-repeat: no-repeat; }

.mana-U { background-image: url('png/U.png'); background-repeat: no-repeat; }

.mana-UB { background-image: url('png/UB.png'); background-repeat: no-repeat; }

.mana-UP { background-image: url('png/UP.png'); background-repeat: no-repeat; }

.mana-UR { background-image: url('png/UR.png'); background-repeat: no-repeat; }

.mana-W { background-image: url('png/W.png'); background-repeat: no-repeat; }

.mana-WB { background-image: url('png/WB.png'); background-repeat: no-repeat; }

.mana-WOld { background-image: url('png/WOld.png'); background-repeat: no-repeat; }

.mana-WP { background-image: url('png/WP.png'); background-repeat: no-repeat; }

.mana-WU { background-image: url('png/WU.png'); background-repeat: no-repeat; }

.mana-X { background-image: url('png/X.png'); background-repeat: no-repeat; }

.mana-Y { background-image: url('png/Y.png'); background-repeat: no-repeat; }

.mana-Z { background-image: url('png/Z.png'); background-repeat: no-repeat; }

