/* line 1, ../../app/styles/mana.scss */
.nk_icon_0, .nk_icon_1, .nk_icon_2, .nk_icon_2b, .nk_icon_2g, .nk_icon_2r, .nk_icon_2u, .nk_icon_2w, .nk_icon_3, .nk_icon_4, .nk_icon_5, .nk_icon_6, .nk_icon_7, .nk_icon_8, .nk_icon_9, .nk_icon_10, .nk_icon_11, .nk_icon_12, .nk_icon_13, .nk_icon_14, .nk_icon_15, .nk_icon_16, .nk_icon_b, .nk_icon_bg, .nk_icon_br, .nk_icon_g, .nk_icon_gu, .nk_icon_gw, .nk_icon_r, .nk_icon_rg, .nk_icon_rw, .nk_icon_s, .nk_icon_snow, .nk_icon_t, .nk_icon_u, .nk_icon_ub, .nk_icon_q, .nk_icon_ur, .nk_icon_w, .nk_icon_wb, .nk_icon_wu, .nk_icon_t, .nk_icon_x, .nk_icon {
  background: url(../images/sprites.gif) no-repeat;
  display: inline-block;
  height: 15px;
  float: none;
  margin: 0 2px;
  overflow: hidden;
  text-indent: -99999px;
  width: 15px;
}

/* line 11, ../../app/styles/mana.scss */
.nk_icon__inline {
  display: inline-block !important;
  float: none !important;
  margin: 0 2px;
}

/* line 16, ../../app/styles/mana.scss */
.nk_icon_2u {
  background-position: 0 -96px;
}

/* line 19, ../../app/styles/mana.scss */
.nk_icon_2w {
  background-position: 0 -112px;
}

/* line 22, ../../app/styles/mana.scss */
.nk_icon_3 {
  background-position: 0 -128px;
}

/* line 25, ../../app/styles/mana.scss */
.nk_icon_4 {
  background-position: 0 -144px;
}

/* line 28, ../../app/styles/mana.scss */
.nk_icon_5 {
  background-position: 0 -160px;
}

/* line 31, ../../app/styles/mana.scss */
.nk_icon_6 {
  background-position: 0 -176px;
}

/* line 34, ../../app/styles/mana.scss */
.nk_icon_7 {
  background-position: 0 -192px;
}

/* line 37, ../../app/styles/mana.scss */
.nk_icon_8 {
  background-position: 0 -208px;
}

/* line 40, ../../app/styles/mana.scss */
.nk_icon_9 {
  background-position: 0 -224px;
}

/* line 43, ../../app/styles/mana.scss */
.nk_icon_10 {
  background-position: 0 -240px;
}

/* line 46, ../../app/styles/mana.scss */
.nk_icon_11 {
  background-position: 0 -256px;
}

/* line 49, ../../app/styles/mana.scss */
.nk_icon_12 {
  background-position: 0 -272px;
}

/* line 52, ../../app/styles/mana.scss */
.nk_icon_13 {
  background-position: 0 -288px;
}

/* line 55, ../../app/styles/mana.scss */
.nk_icon_14 {
  background-position: 0 -304px;
}

/* line 58, ../../app/styles/mana.scss */
.nk_icon_15 {
  background-position: 0 -320px;
}

/* line 61, ../../app/styles/mana.scss */
.nk_icon_16 {
  background-position: 0 -336px;
}

/* line 64, ../../app/styles/mana.scss */
.nk_icon_b {
  background-position: 0 -352px;
}

/* line 67, ../../app/styles/mana.scss */
.nk_icon_bg {
  background-position: 0 -368px;
}

/* line 70, ../../app/styles/mana.scss */
.nk_icon_br {
  background-position: 0 -384px;
}

/* line 73, ../../app/styles/mana.scss */
.nk_icon_g {
  background-position: 0 -400px;
}

/* line 76, ../../app/styles/mana.scss */
.nk_icon_gu {
  background-position: 0 -416px;
}

/* line 79, ../../app/styles/mana.scss */
.nk_icon_gw {
  background-position: 0 -432px;
}

/* line 82, ../../app/styles/mana.scss */
.nk_icon_r {
  background-position: 0 -448px;
}

/* line 85, ../../app/styles/mana.scss */
.nk_icon_rg {
  background-position: 0 -464px;
}

/* line 88, ../../app/styles/mana.scss */
.nk_icon_rw {
  background-position: 0 -480px;
}

/* line 91, ../../app/styles/mana.scss */
.nk_icon_s {
  background-position: 0 -496px;
}

/* line 94, ../../app/styles/mana.scss */
.nk_icon_snow {
  background-position: 0 -512px;
}

/* line 97, ../../app/styles/mana.scss */
.nk_icon_t {
  background-position: 0 -528px;
}

/* line 100, ../../app/styles/mana.scss */
.nk_icon_u {
  background-position: 0 -544px;
}

/* line 103, ../../app/styles/mana.scss */
.nk_icon_ub {
  background-position: 0 -560px;
}

/* line 106, ../../app/styles/mana.scss */
.nk_icon_q {
  background-position: 0 -576px;
}

/* line 109, ../../app/styles/mana.scss */
.nk_icon_ur {
  background-position: 0 -592px;
}

/* line 112, ../../app/styles/mana.scss */
.nk_icon_w {
  background-position: 0 -608px;
}

/* line 115, ../../app/styles/mana.scss */
.nk_icon_wb {
  background-position: 0 -624px;
}

/* line 118, ../../app/styles/mana.scss */
.nk_icon_wu {
  background-position: 0 -640px;
}

/* line 121, ../../app/styles/mana.scss */
.nk_icon_x {
  background-position: 0 -656px;
}

/* line 124, ../../app/styles/mana.scss */
.nk_icon_bp, .nk_icon_gp, .nk_icon_p, .nk_icon_rp, .nk_icon_up, .nk_icon_wp {
  background: url(../images/phyrexia-sprites.png) no-repeat;
  display: inline-block;
  height: 15px;
  float: none;
  margin: 2 0px;
  overflow: hidden;
  text-indent: -99999px;
  width: 15px;
}

/* line 134, ../../app/styles/mana.scss */
.nk_icon_0, .nk_icon_bp {
  background-position: 0 0;
}

/* line 137, ../../app/styles/mana.scss */
.nk_icon_1, .nk_icon_gp {
  background-position: 0 -16px;
}

/* line 140, ../../app/styles/mana.scss */
.nk_icon_2, .nk_icon_p {
  background-position: 0 -32px;
}

/* line 143, ../../app/styles/mana.scss */
.nk_icon_2b, .nk_icon_rp {
  background-position: 0 -48px;
}

/* line 146, ../../app/styles/mana.scss */
.nk_icon_2g, .nk_icon_up {
  background-position: 0 -64px;
}

/* line 149, ../../app/styles/mana.scss */
.nk_icon_2r, .nk_icon_wp {
  background-position: 0 -80px;
}
