<div class="container">
  <button ng-click="incrementRounds()" class="btn btn-primary btn-lg" type="button">New emblem <span class="badge">{{metadata.rounds}}</span></button>
  <button ng-click="reset()" class="btn btn-danger" type="button">Reset</button>
  <ul class="list-group" style="white-space:pre-wrap;">
    <li class="list-group-item" ng-repeat="emblem in showEmblems | filter:{type:'permanent'} | reverse" style='background-color: #B76633; color: #FFF;' ng-bind-html="emblem.text | italicize | manaSymbols"></li>
  </ul>
  <ul class="list-group" style="white-space:pre-wrap;">
    <li ng-repeat="emblem in showEmblems | filter:{type:'standard'} | reverse" ng-class="emblem.isAutomatic ? 'list-group-item active' : 'list-group-item'" ng-bind-html="emblem.text | italicize | manaSymbols"></li>
  </ul>

  {{emblems.length}} Embleme.<br />
  Give these links to your friends!<br />This link let's your friends play Emblems too:
  <pre>https://pdgwien.github.io/mtg-emblems/#/play/{{gameId}}</pre>This link just let's your friends watch:
  <pre>https://pdgwien.github.io/mtg-emblems/#/watch/{{gameId}}</pre>
</div>

