<div class="container">
  <ul class="list-group" style="white-space:pre-wrap;">
    <li class="list-group-item" ng-repeat="emblem in show_emblems | filter:{type:'permanent'} | orderBy:'id':true" style='background-color: #B76633; color: #FFF;' ng-bind-html="emblem.text | manaSymbols"></li>
  </ul>
  <ul class="list-group" style="white-space:pre-wrap;">
    <li ng-repeat="emblem in show_emblems | filter:{type:'standard'} | orderBy:'id':true" ng-class="emblem.is_automatic ? 'list-group-item active' : 'list-group-item'" ng-bind-html="emblem.text | manaSymbols"></li>
  </ul>
</div>

